@import "@/Main.scss";

.card {
    padding: 0.5rem;
    display: block;

    @media screen and (min-width: $bpSmall) {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .date {
        flex: 0 0 auto;
        width: 10rem;
    }

    .content {
        .title {
            color: $textPrimaryColor;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding: 1rem 0;
            text-decoration: none;

            .titleText {
                padding: 0 0.2rem;
                font-size: 1.2rem;
            }

            .titleLink {
                margin-top: 0.4rem;
                font-size: 1rem;
            }

            &[href]:hover {
                color: $linkColor;
                .titleLink {
                    margin-top: 0;
                    font-size: 1.5rem;
                }
            }
        }

        .duty {
            padding: 0.5rem 0;
        }
    }
}
