@import "@/Main.scss";

html {
    --cursorX: 50%;
    --cursorY: 50%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }
}

#root {
    width: 100%;
    color: $textNormalColor;
    background-color: $backgroundColor;

    /* flashlight 패널 */
    @media (hover: hover) and (pointer: fine) {
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 1;
            pointer-events: none;
            background: radial-gradient(
                circle 100vmax at var(--cursorX) var(--cursorY),
                rgba(0, 0, 0, 0) 30%,
                rgba(0, 0, 0, 0.1) 35%,
                rgba(0, 0, 0, 0.5) 40%,
                rgba(0, 0, 0, 0.9) 50%
            );
        }
    }

    > * {
        cursor: default;
    }
}
