@import "@/Main.scss";

.layout {
    width: 100%;
    background-color: #0f172a;
    padding: 0 1rem;

    @media screen and (min-width: $bpSmall) {
        padding: 0 2rem;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
