.layout {
    width: 100%;
    background-color: #0f172a;
    color: white;

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}