@import "@/Main.scss";

.layout {
    width: 100%;

    .content {
        width: 100%;
        padding: $headerHeight 1rem;
        max-width: 1024px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: $bpSmall) {
            padding: $headerHeight 2rem;
        }
        @media screen and (min-width: $bpLarge) {
            padding: 0 2rem;
        }
    }

    .section {
        position: relative;
        padding: $headerHeight 0;
    }

    .sectionTitle {
        font-weight: bold;
        padding: 1rem 0;
        margin: 0;
        color: $textPrimaryColor;
        @media screen and (min-width: $bpSmall) {
            padding: 2rem 0;
        }
    }
}
