@import "@/Main.scss";

.tagBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .tag {
        margin: 0.2rem;
        padding: 0.4rem 1rem;
        font-weight: bold;
        font-size: 0.8rem;
        border-radius: 1rem;
        background-color: #112b3a;
        color: #4bbdb0;
        transition: all 0.3s ease;
    }
}
